html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.navbar-brand img {

}


#hero {
    margin-top: 50px;
    background: url('../img/boots_2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: table;
    width: 100%;
}

#hero > div {
    display: table-cell;
    vertical-align: middle;
}

#hero h1 {
    color: white;
    font-size: 62px;
    font-family: 'Pacifico', sans-serif;
}

#hero p {
    font-size: 24px;
    color: white;
}

.button {
     border-radius: 5px;
    background-color: deeppink;
    color: white;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    padding: 10px;
}
}