html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.opaque-navbar {
    background-color: transparent;
    /* Transparent = rgba(0,0,0,0) / Translucent = rgba (0,0,0,0.5)  */
    transition: background-color .5s ease 0s;
}

.bg-color {
    background-color: white;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

.navbar-brand img {
    max-height: 175%;
    max-width: 175%;
}

.nav navbar-nav navbar-right {
    color: white;
}

#hero {
    background: url('../img/boots_2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: table;
    width: 100%;
}

#hero > div {
    display: table-cell;
    vertical-align: middle;
}

#hero h1 {
    color: white;
    font-size: 62px;
    font-family: 'Pacifico', sans-serif;
}

#hero p {
    font-size: 24px;
    color: white;
}

.button {
    border-radius: 5px;
    background-color: deeppink;
    color: white;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    padding: 10px;
}

#teysha-logo {
    width: 70%;
    height: 70%;
    padding-top: 120px;
    padding-left: 40px;
    padding-bottom: 120px;
}

.col-md-8 h1 {
    padding-top: 80px;
    font-family: 'Pacifico', sans-serif;
    font: bold;
    height: 20px;
    text-align: center;
}

.col-md-8 p {
    font-family: 'Open Sans', sans-serif;
    padding-top: 65px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    width: 92%;
}

.col-md-3 {
 text-align: center;   
}